* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: aliceblue;
}

h1 {
  text-align: center;
  margin: 2.5rem 0;
}

.name-and-reset {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 1rem 0.5rem;

  max-width: 45rem;
}

.name-and-reset .player-name {
  text-align: center;
}

.name-and-reset .reset-btn {
  padding: 0.75rem 0.25rem;

  border: 1px solid black;
  border-radius: 8px;
  background-color: aqua;

  font-weight: 700;

  cursor: pointer;

  transition: all 0.5s;
}

.name-and-reset .reset-btn:hover {
  filter: brightness(80%);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0 auto 1rem;

  max-width: 45rem;
}

.square {
  width: 250px;
  height: 250px;

  text-align: center;

  border: 2px solid black;

  cursor: pointer;

  transition: all 0.5s;
}

.square:hover {
  box-shadow: rgba(223, 219, 12, 0.75) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.square span {
  font-size: 200px;
}
